body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', helvetica, arial;
	font-size: 13px;
	background: #FFF;
	color: #2b2b2b;
}
a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/*.pic:hover {
	background-size: 120% !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}*/
.t-center {
	text-align: center;
}
#header {
	background: rgba(3,40,64,0.9);
	color: #fff;
	height: 50px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	/*overflow: hidden;*/
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index:5;
}
#header .logo {
	height: 40px;
	display: inline-block;
	padding: 5px 20px;
	float: left;
}
#header .logo img {
	height: 100%;
}
#header #nav {
	float: right;
}
#header #nav a {
	float: left;
	padding: 18px 20px;
	color: #b2b2b2;
	text-decoration: none;
}
#header #nav a:hover,
#header #nav a.selected {
	background: #e5cfa6;
	color: #000;
}
#footer {
	background: #073656;
	color: #e5cfa6;
	font-size: 13px;
	padding: 15px 0;
}
#footer a {
	color: #e5cfa6;
	text-decoration: none;
}
#footer .logo img {
	height: 50px;
}
#footer .foot2 a {
	display: inline-block;
	padding: 0 20px 0 0;
}



.peta {
	width: 100% !important;
	height: 500px !important;
}
.peta2 {
	width: 100% !important;
	height: 300px !important;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.container_nowp {
	padding-top: 50px;
}
.container_nowp2 {
	padding-top: 60px;
}

.title {
	display: block;
	padding: 20px 0;
	color: #000;
	font-size: 28px;
}
.title2 {
	padding: 10px 0 20px;
}
.hl {
	float: left;
	width: 52%;
}
.hl .pic {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	height: 350px;
	text-align: center;
	background: #000;
}
.hl .pic img {
	height: 100%;
}
.hl h1,
.list_berita h2 {
	color: red;
	font-weight: bold;
	font-size: 22px;
	line-height: 120%;
}
.hl a {
	color: #e60000;
	text-decoration: none;
}
.hl .date,
.list_berita .date {
	font-size: 12px;
	color: #484848;
	display: block;
	padding-bottom: 5px;
}
.list_berita_wp {
	float: right;
	width: 44%;
}
.list_berita a {
	display: block;
	color: #e60000;
	text-decoration: none;
	margin-bottom: 20px;
}
.list_berita .pic {
	width: 150px;
	height: 100px;
	display: block;
	float: left;
	margin-right: 15px;
	text-align: center;
	overflow: hidden;
	background: #000;
}
.list_berita_detail .pic {
	width: 120px;
	height: 100px;
}
.list_berita .pic img {
	height: 100%;
}
.list_berita h2 {
	font-size: 16px;
}
.list_berita_detail h2 {
	font-size: 13px;
}
.list_berita_detail a {
	background: #f0f0f0;
}
.list_berita_detail .date {
	font-size: 11px;
	padding-top: 5px;
}


.center_wp {
	background: #ececec;
	padding: 10px 0;
}

.list_center a {
	width: 18%;
	width: calc(20% - 20px);
	margin: 0 10px;
	background: #fff;
	color: #484848;
	text-decoration: none;
	overflow: hidden;
	display: block;
	float: left;
	position: relative;
	height: 260px;
	margin-bottom: 10px;
}
.list_center2 a {
	width: 22%;
	width: calc(25% - 20px);
}
.list_center a:hover,
.list_member a:hover,
.list_berita a:hover,
.load_btn:hover {
	opacity: 0.8;
}
.list_center2 a:hover {
	background: #ececec;
}
.list_center a .pic {
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-align: center;
	background: #000;
}
.list_center a .pic img {
	height: 100%;
}
.list_center a .text {
	padding: 10px;
}
.list_center a .text h3 {
	font-size: 13px;
}
.list_center a .label {
	position: absolute;
	top: 5px;
	left: 5px;
	background: red;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 7px;
}
.list_center .date {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 11px;
	color: #c5c4c4;
}
.list_center2 .date2 {
	position: relative;
	font-size: 11px;
	color: #c5c4c4;
}
.list_member a {
	width: 180px;
	float: left;
	margin: 0 10px;
	color: #2b2b2b;
	text-decoration: none;
	text-align: center;
	height: 270px;
}
.list_member a .pic {
	width: 180px;
	height: 180px;
	border-radius: 200px;
	overflow: hidden;
	text-align: center;
	background: #000;
	margin-bottom: 10px;
}
.list_member a .pic img {
	height: 100%;
}
.list_member h4 {
	font-size: 18px;
}
.list_member h6 {
	color: #8d8c8c;
	font-size: 13px;
}

.hl_kanal {
	padding-top: 50px;
	background: #ececec;
	padding-bottom: 20px;
}
.load_btn {
	padding: 15px 40px;
	display: inline-block;
	border: 1px solid #153a53;
	background: #153a53;
	color: #fff;
	text-decoration: none;
}
.pilihberita {
	float: right;
	width: 200px;
	border: 1px solid #ccc;
	height: 20px;
	margin-top: 30px;
}

.breadcrumb {
	display:  block;
	color: #858585;
	font-size: 11px;
	margin-left: -10px;
	padding-top: 10px;
}
.breadcrumb a {
	color: #858585;
	text-decoration: none;
	display: inline-block;
	padding: 0 10px;
}

.detail_left {
	float: left;
	width: 680px;
}
.detail_right {
	float: right;
	width: 300px;
	height: 800px;
	margin-top: 10px;
}
.detail_left .share_box,
#sticky1 {
	float: left;
	width: 40px;
	margin-right: 15px;
	text-align: center;
	padding-top: 25px;
	font-size: 11px;
}
#sticky1 {
	padding-top: 0;
}
.detail_left .share_box a {
	display: block;
	text-align: center;
	opacity: 0.6;
	padding: 5px 0;
}
.detail_left .share_box a:hover {
	opacity: 1;
}
.detail_left .share_box a img {
	width: 100%;
}
.detail_left .text_detail {
	padding-top: 20px;
	float: left;
	width: 620px;
	font-size: 15px;
	line-height: 150%;
}
.detail_left .pic img {
	display: block;
	width: 100%;
	padding-bottom: 5px;
}
.detail_left .pic {
	color: #858585;
	font-size: 11px;
	margin-top: 15px;
}

/*S:MENUDROPDOWN*/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.sf-menu {
	float: right;
	margin-bottom: 1em;
}
.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	padding: 16px;
	text-decoration: none;
	zoom: 1; /* IE7 */
	font-size:13px;
}
.sf-menu a {
	color: #fff;
}
.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #e5cfa6;
}
.sf-menu ul li a {
	padding: 10px 15px;
}
.sf-menu ul li:hover {
	background-color: #eee4d0;
}
.sf-menu ul ul li {
	background: #005cb2;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li.selected {
	background:#e5cfa6;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
	
}
.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu li.selected a {
	color: #000 !important;
}
/* arrows (for all except IE7) */
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
}
/*E:MENUDROPDOWN*/

.paging {
	margin: 5px 0;
}
.paging a {
	display: inline-block;
	padding: 6px 10px;
	color: #767676;
	background: #ececec;
	text-decoration: none;
	font-size: 11px;
}
.paging a:hover {
	background: #dddddd;
}
.paging a.selected {
	background: #c1c1c1;
	color: #fff;
}
.paging a.range {
	background: none;
}

.k_left {
	float: left;
	width: 600px;
}
.k_right {
	float: right;
	width: 380px;
}
.sosmed {
	background: #f6f6f6;
}
.list_sosmed {
	width: 400px;
	float: left;
	margin: 10px 50px;
}

.box_pengaduan {
	width: 300px;
	background: rgba(255,255,255,0.9);
	position: absolute;
	z-index: 2;
	margin: 0 auto;
	color: #000;
	text-align: center;
	right: 50%;
	top: 55px;
	margin-right: -450px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	font-size: 12px;
	height: 428px;
}
.box_pengaduan h3 {
	padding: 10px 15px;
	background: rgba(3,40,64,0.9);
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}
.box_pengaduan a {
	display: inline-block;
	padding: 8px 20px;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	background: #00aeff;
	margin: 0 10px;
}
.box_pengaduan form {
	text-align: left;
	padding: 15px 20px;
	margin: 0;
}
.box_pengaduan a.b_form {
	background: #d60000;
}
.box_pengaduan a:hover {
	opacity: 0.8;
}
.box_pengaduan form .textarea100 {
	height: 50px !important;
}
.box_pengaduan .list_bp {
	background: #f2f2f2;
	padding: 8px 0;
	border-top: 1px solid #ccc;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.box_pengaduan .list_bp a {
	margin-top: 3px;
}



.header_page {
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.header_page img {
	width: 100%;
}
.form_peng {
	background: #f4f4f4;
	padding: 30px;
}
.form_peng .container {
	width: 920px;
}
.form_peng h6 {
	padding-bottom: 4px;
}
.input100 {
	width: 95%;
	padding: 5px;
	border:1px solid #ccc;
}
.textarea100 {
	width: 93%;
	padding: 5px;
	border:1px solid #ccc;
}
.btn_save {
	background: #0562b9;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border: 0;
	padding: 10px 30px;
	text-transform: uppercase;
}
.btn_smaller {
	padding: 5px 15px;
}

#header #nav_menu,
#nav_menu_close,
.a_pengaduan {
	display: none;
}

/*S:MODAL BOX*/
.body_pop {
	background: transparent;
	top: 0;
}
.pop_box {
	position: absolute;
	z-index: 99999;
}
.pop_box {
	position: fixed;
	top:0px;
	left:0;
	width: 100%;
	height: 100%;
}
.pop_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 1;
}
.pop_container {
	margin: 0 auto;
	width: 650px;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 50%;
	margin-left: -340px;
	-webkit-animation: move_bot 0.5s; /* Chrome, Safari, Opera */
    animation: move_bot 0.5s;
}
.pop_container form {
	background: #fff;
}
.pop_container400 {
	width: 400px;
	margin-left: -150px;
	/*top: 15%;*/
}
.pop_container600 {
	width: 600px;
	margin-left: -300px;
	/*top: 10%;*/
}
.pop_container800 {
	width: 800px;
	margin-left: -400px;
	/*top: 10%;*/
}
.pop_container800a {
	/*top: 2%;*/
}
.pop_container900 {
	width: 900px;
	margin-left: -450px;
	/*top: 5%;*/
}
#pop_wrap {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.pop_container400 #pop_wrap {
	width: 400px;
}
.pop_container600 #pop_wrap {
	width: 600px;
}
.pop_container800 #pop_wrap {
	width: 800px;
}
.pop_container900 #pop_wrap {
	width: 900px;
}
/*s:animate*/
@-webkit-keyframes move_bot {
    from {top:100%;}
}
/*e:animate*/

.close_pc{
	display: inline-block;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	font-size: 30px;
	line-height: 100%;
}
.close_pc span {
	display: inline-block;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.close_pc:hover {
	background-color: #035b8c;
}
/*E:MODAL BOX*/

.pop_content {
	background: #fff;
	position: relative;
}
.pop_content .header {
	background: rgba(3,40,64,1);
	padding: 10px 20px;
	color: #fff;
}
.pop_content2 {
	padding: 15px;
}
.pop_content2 .pic_member {
	float: left;
	width: 160px;
}
.pop_content2 .pic_member img {
	width: 100%;
}
.pop_content2 .text {
	float: right;
	width: 380px;
}
.pop_content2 ul {
	padding: 0;
	margin: 0;
	padding-left: 20px;
}
.m_n_left {
	position: absolute;
	width: 30px;
	top: 45%;
	margin-left: -50px;
	opacity: 0.7;
}
.m_n_left img,
.m_n_right img {
	width: 100%;
}
.m_n_right {
	position: absolute;
	width: 30px;
	top: 45%;
	right: 0;
	margin-right: -40px;
	opacity: 0.7;
}
.m_n_left:hover,
.m_n_right:hover {
	opacity: 1;
}
.down_artikel {
	margin-top: 30px;
}
.down_artikel a{
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	background: #f2f2f2;
	border:1px solid #ccc;
	text-decoration: none;
	color: #000;
	width: 90%;
	width: calc(100% - 30px);
	margin-bottom: 5px;
}
.down_artikel a img {
	float: left;
	height: 20px;
	margin-right: 10px;
}
.down_artikel a span {
	float: left;
}
.down_artikel a span.file {
	float: left;
	width: calc(100% - 110px);
}
.down_artikel a:hover {
	background: #073656;
	color: #fff;
}
.down_artikel a:hover img {
	filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
}

@media screen and (max-width: 800px) {
	body {
		width: 100%;
		overflow-x: hidden;
		padding-top: 40px;
	}
	#nav,
	.box_pengaduan,
	.peta,
	.sf-menu
	 {
		display: none;
	}
	.container {
		width: calc(100% - 20px);
		margin: 10px;
	}
	#header .container {
		margin: 0;
		width: 100%;
	}
	#header #nav {
		position: fixed;
		width: 100%;
		left: 0;
		top: 50px;
		background-color: #81a22d;
		color: #fff;
		height: 230px;
	}
	#header #nav_menu {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 12px;
		cursor: pointer;
	}
	#header #nav_menu span{
		display: block;
		width: 25px;
		margin-bottom: 3px;
		height: 5px;
		background-color: rgba(255,255,255,0.6);
	}
	#nav_menu_close {
		display: none;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 40px;
		font-weight: bold;
		color: #fff;
		background: #063142;
		height: 50px;
		cursor: pointer;
		width: 50px;
	}
	#nav_menu_close span {
		display: inline-block;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		position: absolute;
		top: 0;
		right: 15px;
	}
	.hl,
	.list_berita_wp {
		width: 100%;
		padding-bottom: 15px;
	}
	.hl .pic {
		width: 100% !important;
		height: 200px;
	}
	.title {
		padding: 10px 0;
		font-size: 22px;
	}
	.list_berita_wp a {
		border-top: 1px dotted #ccc;
		padding: 10px 0;
		margin: 0;
	}
	.list_berita_wp {
		padding: 0;
	}
	.list_center a {
		display: block;
		width: calc(100% - 20px);
		height: 100px;
	}
	.list_center a .pic {
		width: 140px;
		height: 100px;
		float: left;
		margin-right: 10px;
	}
	.list_sosmed {
		width: calc(100% - 20px);
		margin: 10px;
	}
	.list_sosmed .fb_iframe_widget
	 {
		display: none;
	}
	.sosmed .pt20 {
		padding-top: 0;
	}
	.list_member a {
		display: block;
		width: calc(100% - 20px);
		height: 100px;
		padding: 5px 0;
		text-align: left;
		border-bottom: 1px dotted #ccc;
	} 
	.list_member a .pic {
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 20px;
	}
	.list_member h4 {
		padding-top: 20px;
	}
	#footer {
		text-align: center;
	}
	#ddmenu {
		background: #063142;
		width: 100%;
		height: 500px;
		overflow-y: scroll;
	}
	#ddmenu li {
		clear: both;
		width: 100%;
	}
	#ddmenu li a {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	#ddmenu li ul {
		display: block;
		position: relative;
	}
	.sf-menu ul li {
		background: none;
	}
	#ddmenu li ul li a{
		padding-left: 50px;
	}
	.a_pengaduan {
		display: block;
		margin-bottom: 20px;
	}
	.hl_kanal,
	.container_nowp,
	.container_nowp2 {
		padding: 0;
	}
	.pilihberita {
		width: 120px;
		margin-top: 20px;
	}
	h1 {
		font-size: 22px;
	}
	.detail_left,
	.k_left,
	.k_right,
	.detail_right,
	.form_peng .container {
		width: 100%;
		clear: both;
	}
	.detail_left .text_detail {
		width: calc(100% - 60px);
	}
	.detail_right {
		height: auto;
	}
	.pt30 {
		padding-top: 0;
	}
	#sticky1 {
		position: relative !important;
	}
	.header_page {
		height: 80px;
	}
	.form_peng {
		padding: 10px;
	}
	.form_peng .container form .w450 {
		width: 100%;
	}
	.pop_container400,
	.pop_container600,
	.pop_container800a,
	.pop_container900,
	.pop_container400 #pop_wrap,
	.pop_container600 #pop_wrap,
	.pop_container800a #pop_wrap,
	.pop_container900 #pop_wrap {
		width: 100% !important;
		margin: 0 !important;
	}
	.pop_container {
		left: 0;
	}
	.m_n_left,
	.m_n_right {
		display: none;
	}
	.pop_content2 .pic_member {
		width: 100%;
		height: 250px;
		text-align: center;
	}
	.pop_content2 .pic_member img {
		height: 100%;
		width: auto;
	}
	.pop_content2 .text {
		width: 100%;
		clear: both;
	}
	.pop_content2 .text h1,
	.pop_content2 .text h5 {
		text-align: center;
	}
}



