.clearfix {
  clear: both;
}
.action a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}
.action a img {
  height: 100%;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.title_page {
  padding: 0 20px;
}
.title_page a {
  margin-top: 20px;
}
.img_foto {
  height: 30px;
  border:1px solid #ccc;
}